* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100vh;
}
.top {
    width: 100%;
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1552845108-5f775a2ccb9b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.top .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: 2;
}
.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
    z-index: 3;
}
.text h1 {
    font-weight: 600;
    font-size: 4vw;
}
.text .image {
    background-image: url('https://images.unsplash.com/photo-1602941889598-3e7780b9a602?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHR1cmtleXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 220px;
}
.rtext {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext p {
    font-size: 12px;
}
.bottom {
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1 {
    width: 30%;
    min-height: inherit;
    background-image: url('https://images.unsplash.com/photo-1638536143740-478b10cb0fc2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2l0aWVzJTIwc2lkZXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
}
.b1 h1 {
    text-align: center;
    padding: 30px;
}
.b1 p {
    color: white;
    text-align: center;
    padding: 15px;
}
.b2 {
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up {
    width: 100%;
    min-height: 20vh;
    background-image: url('https://plus.unsplash.com/premium_photo-1667213114404-b5977a482cea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHR1cmtleXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
}
.b2 .up h1 {
    text-align: center;
    padding: 30px;
}
.b2 .up p {
    color: white;
    text-align: center;
    padding: 15px;
}
.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url('https://images.unsplash.com/photo-1535953267280-5fd672f9bfa3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D');
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.342);
}
.b3 {
    width: 40%;
    min-height: inherit;
    background-image: url('https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmluZHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
}
.b3 .overlay {
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 60%;
    height: 100%;
    padding: 4vw 3vh;
}
.b3 .overlay p {
    padding: 1.2vh;
}

@media(max-width: 700px) {
    .rtext {
        flex-direction: column;
    }
    .b3 .overlay {
        width: 100%;
        margin-left: initial;
    }
}
@media(max-width: 500px) {
    .text {
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1 {
        font-size: 5vh;
    }
    .text .image {
        height: 180px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext {
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p {
        margin: 10px;
    }
    .icons {
        margin-top: 10px;
    }
    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    .b1 {
        width: 100%;
        min-height: 40vh;
    }
    .b2 {
        width: 100%;
    }
    .b2 .up {
        min-height: 40vh;
    }
    .b3 {
